 /*///////////////////
  css style start 
  //////////////////*/
 .baground {
     background-color: #289bde;
 }

 .text-color {
     color: #289bde;
 }

 .color-of-the-year {
     background-color: #f4f1fb;
 }

 /*[[[[[[[[[[[[[[[[[
 media query design
  ]]]]]]]]]]]]]]]*/
 @media screen and (max-width: 576px) {
     .carosel-header-text {
         font-size: 16px;
     }

     .carosel-paragraph {
         font-size: 10px;
     }



     .button-size {
         height: 30px;
         width: 100px;
         font-size: 7px;
         padding: 0;
     }

     .carousel-caption {
         position: absolute;
         right: 15%;
         bottom: 0px !important;
         left: 15%;
         top: 0;
         padding-bottom: 0px !important;
         color: #fff;
         text-align: center;
     }

     .width-set {
         width: 100% !important;
     }

     .container {
         --bs-gutter-x: 1.5rem;
         --bs-gutter-y: 0;
         width: 95% !important;
         padding-right: calc(var(--bs-gutter-x) * 0.5);
         padding-left: calc(var(--bs-gutter-x) * 0.5);
         margin-right: auto;
         margin-left: auto;
     }
 }

 @media screen and (max-width: 768px) {
     .width-set {
         width: 400px !important;
     }

     .container {
         --bs-gutter-x: 1.5rem;
         --bs-gutter-y: 0;
         width: 80% !important;
         padding-right: calc(var(--bs-gutter-x) * 0.5);
         padding-left: calc(var(--bs-gutter-x) * 0.5);
         margin-right: auto;
         margin-left: auto;
     }
 }

 @media screen and (max-width: 992px) {
     .width-set {
         width: 100% !important;
     }

     .container {
         --bs-gutter-x: 1.5rem;
         --bs-gutter-y: 0;
         width: 90% !important;
         padding-right: calc(var(--bs-gutter-x) * 0.5);
         padding-left: calc(var(--bs-gutter-x) * 0.5);
         margin-right: auto;
         margin-left: auto;
     }
 }

 /*(((((((((((((((((((((
      css style end 
      )))))))))))))))))))*/